body{
    background-color: #f0f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.box{
    display: flex;
    position: relative;
    flex-direction: row;
    border-radius: 28px;
    width: 125vh;
    height: 45vh;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 36px;
    padding-top: 36px;
    background-color: #ffffff;
}
.LEFT{
    position: relative;
}
.RIGHT{
    display: flex;
    align-items: center;
    position: relative;
}
.guest-mod{
    font-size:14px;
    margin-top: 50px;
}
.guest-mod a{
    text-decoration: none;
}

.left-text{
    max-width: 95%;
    margin-right: 30px;
}
.right-text{
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
}
.crate-or-next{
    position: absolute;
    right:50px;
    bottom:40px;
}
.create{
    width: 100px;
    color:#0b57d0;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    margin-right: 25px;
}
.next{
    width: 75px;
    height: 40px;
    border-radius: 28px;
    color:#ffffff;
    background: #0b57d0;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

.login-h1{
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-weight: 400;
    font-size:36px;
    margin-top: 10px;
}
.login-text{
    font-size:16px;
    color: #1f1f1f;
    margin-top: -10px;
}

.input{
    display: flex;
    width: 420px;
    height: 28px;
    text-align: left;
    border-radius: 4px;
    border-width: 1px;
    color: #1f1f1f;
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 17px;
    margin: 1px 1px 0 1px;
    padding: 13px 15px;
    padding-left: 15px;
    z-index: 1;
}
.input ::placeholder{
    position: relative;
}
.lost{
    width: 150px;
    margin-top: 10px;
    color:#0b57d0;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}
.a{
    display:none;
}

.box-out{
    display: flex;
    position: relative;
    flex-direction: row;
}
.language{
    width: 200px;
    height: 30px;
    background: none;
    border: none;
    position: relative  ;
    left:10px;
    top:10px;
}
.three-text{
    position: absolute;
    top:10px;
    right:-30px;
    border-radius: 8px;
    padding: 10px;
    font-size:12px;
    margin-right: -5px;
}
.help{
    width: 100px;
    position: relative;
    color:#1f1f1f;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}
.information{
    width: 100px;
    position: relative;
    color:#1f1f1f;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}
.medicine{
    width: 100px;
    position: relative;
    color:#1f1f1f;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}