<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>로그인 - Google 계정</title>
        <link rel="stylesheet" href="/google.css">
        <link rel="icon" href="https://img.icons8.com/?size=512&id=17949&format=png" type="image/png">
    </head>
    <body>
        <div class="ALL">
        <div class="box">
            <div class="LEFT">
                <img src="https://img.icons8.com/?size=512&id=17949&format=png" alt="아이콘" class="icon" width="47" height="47">
                <div class="left-text">
                    <h1 class="login-h1">
                        <span class="login">로그인</span>
                    </h1>
                    <div class="login-text">
                        <span>
                            Google 계정으로 로그인합니다. 이 계정은 브라우저의 다른 Google 앱에서 사용할 수 있습니다.
                        </span>
                    </div>
                </div>
            </div>
            <div class="RIGHT">
                <div class="right-text">
                    <input type="email" class="input"placeholder="이메일 또는 휴대전화">
                    <button class="lost">이메일을 잊으셨나요?</button>
                    <div class="guest-mod">
                        <a>내 컴퓨터가 아닌가요? 게스트 모드를 사용하여 비공개로 로그인하세요. </a>
                        <a href="https://support.google.com/chrome/answer/6130773?hl=ko">게스트 모드 사용 방법 자세히 알아보기</a>
                    </div>
                </div>
            </div>
            <div class="crate-or-next">
                <button class="create">계정 만들기</button>
                <button class="next">다음</button>
            </div>
        </div>
        <ul class="a">
            <li>개인용</li>
            <li>자녀 계정</li>
            <li>직장 또는 비즈니스용</li>
        </ul>
        <div class="box-out">
            <select class="language">
                <option>한국어</option>
            </select>
            <div class="three-text">
                <button class="help">도움말</button>
                <button class="information">개인정보처리방침</button>
                <button class="medicine">약관</button>
            </div>
        </div>
    </div>
    </body>
</html>